<!DOCTYPE html>
<html lang="en">
    <head>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <title> Buy </title>
    </head>
    <body>
        <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-sm p-2" style="background-color: #01253F ; border-bottom: 1px solid lightgrey;">
        <!-- Add the reference to the page -->
        <a class="navbar-brand" href=" {{ url_for('main2') }}">
            <img src="{{ url_for('static', filename='images/white_logo.png') }}" height="25" alt="Blue&GO! Logo" loading="lazy"/>
            <img src="{{ url_for('static', filename='images/white_letter_logo.png') }}" height="15" onmouseover="hover()" alt="Blue&GO"/>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('teacher') }}" style="color: white"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('playPage') }}" style="color: white"> Play </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('courses') }}" style="color: white"> Courses </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                   <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Profile</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Settings</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Contact</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Help</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                  </ul>

                </li>
            </ul>
        </div>
    </nav>

        <div class="container-fluid" style="margin-top: 0rem;">
        <div class="row">
            <div class="col-md-1"></div>

            <div id="column1" class="col-md-5" style="height: 90vh;">
               <div id="inside1" class="d-grid" style="height: 80vh; margin-left: 2rem; margin-right: 3rem; margin-top: 5rem; border-radius: 3%;">
                    <img class="border rounded" src="{{ url_for('static', filename='images/buy.jpg') }}" style="width: 25rem; border-radius: 3%;">
               </div>
            </div>

            <div id="column2" class="col-md-5" style="height: 90vh;">
                <div id="inside2" class="d-grid" style="height: 80vh; margin-left: 2rem; margin-right: 3rem; margin-top: 5rem; border-radius: 3%;">
                    <div style="margin-top: 1rem; margin-left:2rem;">
                        <h1> Buy Blue&GO!</h1>
                        <br>
                        <p> Unfortunatelly, Blue&GO! is not yet available for purchase. But don't worry, you will be able to order Blue&GO! soon.
                            <br> Sign up below to be the first to know! </p>
                             <form id="myForm" name="myForm">
                                <div class="mb-3" style="width: 300px;">
                                    <label for="group_name" class="form-label" style="color:darkgrey; font-size: x-small;"> EMAIL ADDRESS </label>
                                    <input id="group_name" name="group_name" type="text" class="form-control" placeholder="Enter your email address here">
                                </div>
                            </form>
                    </div>
                </div>
                <div class="float-end">
                    <a class="btn btn-primary" href=" {{ url_for('main2') }}" style="margin-top:-225px;">
                        Home Page
                    </a>
                </div>
             </div>

        </div>
        </div>

        <div class="container-fluid p-4" style="background-color:white;"></div>

        <footer class="text-left text-black fixed-bottom" style="background-color: #F6F7FB;">
          <div class="container-fluid p-4">
              © 2022 Blue&GO!
          </div>
        </footer>

    </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>