<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='class.css') }}">
    <title>Test</title>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-sm p-2" style="background-color: #01253F ; border-bottom: 1px solid lightgrey;">
        <!-- Add the reference to the page -->
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/white_logo.png') }}" height="25" alt="Blue&GO! Logo" loading="lazy"/>
            <img src="{{ url_for('static', filename='images/white_letter_logo.png') }}" height="15" onmouseover="hover()" alt="Blue&GO"/>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=" {{ url_for('teacher') }}" style="color: white"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('playPage') }}" style="color: white"> Play </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('groups') }}" style="color: #5bc0de"> Courses </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                   <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Profile</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Settings</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Contact</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Help</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                  </ul>

                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid min-vh-100 d-flex flex-column">
        <div class="row flex-grow-1" style="margin-right:1rem;">
            <div class="col col-9">
                <div class="row-fluid" style="margin-top:1rem;">
                    <br>
                    <button id="insertRow" class="btn" style="color:white; margin-left:560px; margin-bottom:-79px; font-size: small; width: fit-content; height: 38px;background-color:slategrey" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentcolor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg> NEW STUDENT
                    </button>

                    <!-- Modal -->
            <div class="modal fade" id="newStudentModal" tabindex="-1" aria-labelledby="newStudentModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header justify-content-end" style="background-color: #5bc0de; height: 3rem;">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h4 class="modal-title text-center" id="newStudentModalLabel"> Add a student to the group</h4>
                            <br>
                            <form id="newStudentForm" name="newStudentForm">
                                <div class="mb-3">
                                    <label for="add_s_number" class="form-label" style="color:darkgrey; font-size: x-small;"> STUDENT ID </label>
                                    <input id="add_s_number" name="s_number" type="text" class="form-control" placeholder="s1234567">
                                </div>
                                <div class="mb-3">
                                    <label for="add_s_name" class="form-label" style="color:darkgrey; font-size: x-small;"> FIRST NAME </label>
                                    <input id="add_s_name" name="s_name" type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="mb-3">
                                    <label for="add_s_lastname" class="form-label" style="color:darkgrey; font-size: x-small;"> LAST NAME </label>
                                    <input id="add_s_lastname" name="s_lastname" type="text" class="form-control" placeholder="Last name">
                                </div>
                                <div class="mb-3">
                                    <label for="new_t_teams" class="form-label" style="color:darkgrey; font-size: x-small;"> TEAMS </label>
                                    <input id="new_t_teams" name="t_teams" type="text" class="form-control" placeholder="Team X">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a id="submit_form" type="button" class="btn rounded-pill" style="background-color: #5bc0de" href="{{ url_for('classroom', course_code='12456') }}">Save changes</a>
                        </div>
                    </div>
                </div>
            </div>

                </div>
                <div style="margin_right:2rem;">
                    <table id="table" class="table table-responsive table-hover"
                         data-search="true"
                         data-toggle="table"
                         data-height="690"
                         data-pagination="true"
                         data-show-export="true"
                         data-export-data-type="all">
                        <thead style="background-color: #5bc0de ;">
                            <tr>
                              <th scope="col">Student ID</th>
                              <th scope="col">First name</th>
                              <th scope="col">Last name</th>
                              <th scope="col">Teams</th>
                              <th scope="col">Actions</th>
                            </tr>
                      </thead>
                      <tbody id="tableBody">
                        <!-- This section is being filled by the server -->
                      </tbody>
                    </table>
                </div>
        </div>

        <div class="col-3 shadow-lg" style="margin-top: 76px; margin-bottom: 45px;">
            <div class="row d-flex border p-3 text-center" style="background-color:#5bc0de; margin-top: 0px; height: 70px;">
                  <p style="color:black; font-size: x-large; font-family: 'Rubik', sans-serif;"> Leaderboard</p>
            </div>
            <div class="row text-center" id="tabla" style="background-color:white; margin-top: 10px;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="fati" type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse_overall" aria-expanded="false" aria-controls="collapse_overall"> <p id="top"> Top Ranking </p></button>
                        <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse_groups" aria-expanded="false" aria-controls="collapse_overall"> <p id="group"> Group Ranking </p></button>
                    </div>

                    <div class="accordion-group">
                        <div class="collapse" id="collapse_overall" data-bs-parent="#tabla">
                          <div class="card card-body" style="border: none;">
                            <table class="table table-responsive table-border border-white" style="margin-top: 20px;">
                              <tbody id="studentRankingTableBody">
                                <tr class="border-5" style="background-color:#5bc0de;">
                                  <td>Mark Otto</td>
                                  <td></td>
                                  <td></td>
                                  <td> 200 </td>
                                </tr>
                                <tr class="border-5" style="background-color:#5bc0de;">
                                  <td>Maria Perez</td>
                                  <td></td>
                                  <td></td>
                                  <td> 100 </td>
                                </tr>
                                <tr class="border-5" style="background-color:#5bc0de;">
                                  <td> Andrei Diaz</td>
                                  <td></td>
                                  <td></td>
                                  <td> 50 </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                        <div class="collapse" id="collapse_groups" data-bs-parent="#tabla">
                          <div class="card card-body" style="border: none;">
                            <table class="table table-responsive table-border border-white" style="margin-top: 20px;">
                              <tbody id="courseRankingTableBody">
                                <tr class="border-5" style="background-color:#5bc0de;">
                                  <td> Blue House</td>
                                  <td></td>
                                  <td></td>
                                  <td> 10000 </td>
                                </tr>
                                <tr class="border-5" style="background-color:#5bc0de;">
                                  <td>Red House</td>
                                  <td></td>
                                  <td></td>
                                  <td>5100 </td>
                                </tr>
                                <tr class="border-5" style="background-color:#5bc0de;">
                                  <td> Green House</td>
                                  <td></td>
                                  <td></td>
                                  <td> 2030 </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='class.js') }}"></script>


</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
</html>