<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='Groups.css') }}">
    <title>Courses</title>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-sm p-2" style="background-color: #01253F ; border-bottom: 1px solid lightgrey;">
        <!-- Add the reference to the page -->
        <a class="navbar-brand" href=" {{ url_for('main2') }}">
            <img src="{{ url_for('static', filename='images/white_logo.png') }}" height="25" alt="Blue&GO! Logo" loading="lazy"/>
           <img src="{{ url_for('static', filename='images/white_letter_logo.png') }}" height="15" onmouseover="hover()" alt="Blue&GO"/>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=" {{ url_for('teacher') }}" style="color: white"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('playPage') }}" style="color: white"> Play </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('courses') }}" style="color: #5bc0de"> Courses </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                   <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Profile</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Settings</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Contact</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Help</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                  </ul>

                </li>
            </ul>
        </div>
    </nav>

    <div style="margin-top: 5rem; margin-left: 1rem;">
        <div class="row justify-content-end" style="margin-right: 2rem;">
            <!-- Button Add Group trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" style="font-size: small; width: fit-content; height: fit-content" data-bs-toggle="modal" data-bs-target="#newCourseModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
                NEW COURSE
            </button>

            <!-- Modal -->
            <div class="modal fade" id="newCourseModal" tabindex="-1" aria-labelledby="newCourseModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header justify-content-end" style="background-color: #5bc0de; height: 3rem;">
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/fdzomkrp.json"
                                    trigger="loop-on-hover"
                                    colors="black"
                                    style="width:30px;height:30px">
                                </lord-icon>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="modal-title text-center" id="newCourseModalLabel"> Create a new course</h4>
                            <br>
                            <form id="newCourseForm" name="newCourseForm">
                                <div class="mb-3">
                                    <label for="newCourse_group_name" class="form-label" style="color:darkgrey; font-size: x-small;"> COURSE NAME </label>
                                    <input id="newCourse_group_name" name="group_name" type="text" class="form-control" placeholder="Example group name">
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="color:darkgrey; font-size: x-small; margin-bottom: 1rem;" for="newCourse_flexRadioDefault1">
                                      ADD TO FAVOURITES
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="newCourse_flexRadioDefault1">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" style="color:darkgrey; font-size: x-small;"> BACKGROUND PICTURE</label>
                                    <div class="input-group custom-file-button">
                                        <label class="input-group-text" for="newCourse_inputGroupFile1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </label>
                                        <input type="file" class="form-control" id="newCourse_inputGroupFile1">
                                    </div>
                                </div>

                                <div class="mb-3">
                                  <label class="form-label" style="color:darkgrey; font-size: x-small;"> UPLOAD A CSV FILE WITH A LIST OF STUDENTS</label>
                                  <div class="input-group custom-file-button">
                                    <label class="input-group-text" for="newCourse_inputGroupFile2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </label>
                                    <input type="file" class="form-control" id="newCourse_inputGroupFile2">
                                  </div>
                              </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a id="new_CourseSubmit_form" onclick="submitForm('newCourseForm')" type="button" class="btn rounded-pill" style="background-color: #5bc0de; color: white" href=" {{ url_for('courses') }}">Save changes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-group input-group-md mb-3" style="margin-bottom:2rem; width: fit-content";>
                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
                <button class="btn btn-link btn-light btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 4rem;">
        <div id="row1" class="row" style="margin-left: 2rem; margin-right: 2rem;">
            <h1 class="display-6" style="font-size: large;"> Favourites</h1>

            <div id="favourites" class="row row-cols-1 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-xs-1 g-4" style="margin-top: -1rem;">
                <div class="col">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1642698166111-1e736132b0ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img" alt="...">
                        <div class="card-img-overlay text-end" style="margin-top: -1rem; margin-right: -1rem;">
                            <button class="btn btn-link" style="color:white" data-bs-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" >
                                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><button class="dropdown-item" onclick="removeFromFavourites('')">Remove from favourites</button></li>
                                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#rename_">Rename</button></li>
                                <div class="dropdown-divider"></div>
                                <li><button class="dropdown-item" onclick="deleteCourse('')">Delete</button></li>
                            </ul>
                        </div>
                        <div class="card-body" style="transform: rotate(0);">
                            <a href="{{ url_for('classroom', course_code='12456') }}" class="stretched-link text-decoration-none" style="color:black;"> <h5 class="card-title"> TCS Year 3</h5> </a>
                        </div>
                    </div>
                </div>
            </div>

       </div>



        <div id="row2" class="row" style="margin-left: 2rem; margin-right: 2rem; margin-top: 2rem;">
            <h1 class="display-6" style="font-size: large;margin-top: 2rem;"> All groups</h1>
            <div id="groups" class="row row-cols-1 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-xs-1 g-4" style="margin-top: -1rem;">
                <!-- This part is filled with the server response-->
            </div>
        </div>
</div>


    </div>

    <script src="{{ url_for('static', filename='Groups.js') }}"></script>

</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>