<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/Help&Contact.css">
  <title>Help & Contact</title>
</head>
<body>

  <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-sm p-2" style="background-color: #01253F ; border-bottom: 1px solid lightgrey;">
        <!-- Add the reference to the page -->
        <a class="navbar-brand" href=" {{ url_for('main2') }}">
            <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="20" alt="Blue&GO! Logo" loading="lazy"/>
            <small onmouseover="hover()" style="color: white">Blue&GO!</small>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=" {{ url_for('teacher') }}" style="color: white"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('playPage') }}" style="color: white"> Play </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('courses') }}" style="color: white"> Courses </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                   <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Profile</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Settings</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Contact</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Help</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/">Log out</a></li>
                  </ul>

                </li>
            </ul>
        </div>
    </nav>

  <div class="container rounded" id="section1">

    <h3 class="text-center">FAQ</h3>
    <br>

    <div class="accordion" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            How does Blue&GO! make learning more efficient?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Because it make learning fun! Competition and enjoyment increase student participation and focus.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            How can I start/play a game?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Select "Play" in the navbar. After this you need to select which course you want to play with (or select to play anonymously) and select which game mode to play. After this, the game is initalized and a waiting screen is shown, waiting for all buttons and players to be connected. If this is done, the game can start!</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            How can I get into contact?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Please fill out the contact form below and describe your problem to us. We will get back to you on the problem as soon as possible.</div>
        </div>
      </div>
    </div>

  </div>


  <div class="container rounded" id="section2">

    <h3 class="text-center">Get into contact with us.</h3>
    <br>
    <br>

    <div class="row g-3">
            <form>
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" required="">
              <div class="invalid-feedback">
                Please enter a valid email address for us to respond to.
              </div>
            </div>

            <div class="col-12">
              <div class="mb-3">
                <label for="problem" class="form-label">Example textarea</label>
                <textarea class="form-control" id="problem" rows="5"></textarea>
              </div>
            </div>
            </form>
  </div>
  </div>

</body>
</html>