<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='InitializeGame.css') }}">
    <title>Preparing the game...</title>
</head>
<body>

    <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-sm p-2" style="background-color: #01253F ; border-bottom: 1px solid lightgrey;">
        <!-- Add the reference to the page -->
        <a class="navbar-brand" href=" {{ url_for('main2') }}">
            <img src="{{ url_for('static', filename='images/white_logo.png') }}" height="25" alt="Blue&GO! Logo" loading="lazy"/>
            <img src="{{ url_for('static', filename='images/white_letter_logo.png') }}" height="15" onmouseover="hover()" alt="Blue&GO"/>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=" {{ url_for('teacher') }}" style="color: white"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('playPage') }}" style="color: #5bc0de"> Play </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('courses') }}" style="color: white"> Courses </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                   <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Profile</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('profile') }}">Settings</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Contact</a></li>
                    <li><a class="dropdown-item" href=" {{ url_for('help') }}">Help</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                  </ul>

                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid d-flex justify-content-center align-items-end" id="titlesection1">
        <h3 style="color: white;">Select a Course:</h3>
    </div>

    <!-- section containing group selection -->
    <div class="container-fluid d-flex justify-content-center" id="section1">

      <div id="carouselCards" class="carousel slide carousel-multi-item" data-bs-touch="false" data-bs-interval="false">
        <div id="courses" class="carousel-inner">

          <div id="carouselindicators" class="carousel-indicators" style="bottom:-2.7vh;">
          </div>

{#           <div class="carousel-item active text-center" style="top: 0px">#}

{#                <div class="row row-cols-3" style="width: 70%; margin: auto;">#}

{#                    <div class="col">#}
{#                        <div id="addCourseBtn" class="card addcoursecard"  style="height:100%;">#}
{#                            <div class="card-body">#}
{#                            <h5 class="card-title" style="color:black;">Add a course</h5>#}
{#                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square icon" viewBox="0 0 16 16">#}
{#                                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>#}
{#                                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>#}
{#                                </svg>#}
{#                            </div>#}
{#                            <a data-bs-toggle="modal" data-bs-target="#newCourseModal" class="stretched-link"></a>#}
{#                        </div>#}
{#                    </div>#}



{#                </div>#}
{#           </div>#}

            <!-- Modal -->
            <div class="modal fade" id="newCourseModal" tabindex="-1" aria-labelledby="newCourseModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header justify-content-end" style="background-color: #5bc0de; height: 3rem;">
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/fdzomkrp.json"
                                    trigger="loop-on-hover"
                                    colors="black"
                                    style="width:30px;height:30px">
                                </lord-icon>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="modal-title text-center" id="newCourseModalLabel"> Create a new course</h4>
                            <br>
                            <form id="newCourseForm" name="newCourseForm">
                                <div class="mb-3">
                                    <label for="newCourse_group_name" class="form-label" style="color:darkgrey; font-size: x-small;"> COURSE NAME </label>
                                    <input id="newCourse_group_name" name="group_name" type="text" class="form-control" placeholder="Example group name">
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="color:darkgrey; font-size: x-small; margin-bottom: 1rem;" for="newCourse_flexRadioDefault1">
                                      ADD TO FAVOURITES
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="newCourse_flexRadioDefault1">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" style="color:darkgrey; font-size: x-small;"> BACKGROUND PICTURE</label>
                                    <div class="input-group custom-file-button">
                                        <label class="input-group-text" for="newCourse_inputGroupFile1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </label>
                                        <input type="file" class="form-control" id="newCourse_inputGroupFile1">
                                    </div>
                                </div>

                                <div class="mb-3">
                                  <label class="form-label" style="color:darkgrey; font-size: x-small;"> UPLOAD A CSV FILE WITH A LIST OF STUDENTS</label>
                                  <div class="input-group custom-file-button">
                                    <label class="input-group-text" for="newCourse_inputGroupFile2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </label>
                                    <input type="file" class="form-control" id="newCourse_inputGroupFile2">
                                  </div>
                              </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a id="new_CourseSubmit_form" onclick="submitForm('newCourseForm')" type="button" class="btn rounded-pill" style="background-color: #5bc0de; color: white" href=" {{ url_for('courses') }}">Save changes</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCards" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCards" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>

    </div>

    <div class="container-fluid d-flex justify-content-center align-items-end" id="titlesection2">
        <h3 style="color: white;">Select a Gamemode:</h3>
    </div>

    <!-- section containing gamemode selection and settings -->
    <div class="container d-flex justify-content-center align-items-center text-center" id="section2">

       <div class="row" style="width:100%; height:100%;">
          <div class="col">
            <div id="Classic" class="card bigbutton">
              <div class="card-body">
                <h5 class="card-title">Classic</h5>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-stopwatch icon" viewBox="0 0 16 16">
                  <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
                  <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
                </svg>
                <a onclick="selectGamemode('Classic')" class="stretched-link"></a>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-outline-secondary settingsbutton" data-bs-toggle="modal" data-bs-target="#classicModal">Change settings</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div id="Random" class="card bigbutton">
              <div class="card-body">
                <h5 class="card-title">Random</h5>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-dice-5 icon" viewBox="0 0 16 16">
                  <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
                  <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
                <a onclick="selectGamemode('Random')" class="stretched-link"></a>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-outline-secondary settingsbutton" data-bs-toggle="modal" data-bs-target="#randomModal">Change settings</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div id="Lifelines" class="card bigbutton">
              <div class="card-body">
                <h5 class="card-title">Lifelines</h5>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-activity icon" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
                </svg>
                <a onclick="selectGamemode('Lifelines')" class="stretched-link"></a>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-outline-secondary settingsbutton" data-bs-toggle="modal" data-bs-target="#lifelinesModal">Change settings</button>
              </div>
            </div>
          </div>
        </div>

{#        modal for classic gamemode#}
        <div class="modal fade" id="classicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-end" style="background-color: #5bc0de; height: 3rem;">
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                            <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/fdzomkrp.json"
                                trigger="loop-on-hover"
                                colors="black"
                                style="width:30px;height:30px">
                            </lord-icon>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1 class="modal-title text-center" id="classicModalLabel">Classic</h1>
                        <br>
                        <p style="font-size: 18px">First player to press the buttons gets first turn! Afterwards, turns are given in order of quickest button press.</p>
                        <br>
                        <form id="classicModalForm" name="classic">
                            <div class="input-group">
                              <span class="input-group-text">Sum points:</span>
                              <input id="sumPointsC" type="number" class="form-control" aria-label="Sizing example input" value="1">
                            </div>
                            <br>
                            <div class="input-group">
                              <span class="input-group-text" id="inputGroup-sizing-">Deduct points:</span>
                              <input id="deductPointsC" type="number" class="form-control" aria-label="Sizing example input" value="1">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button type="button" onclick="resetForm('classic')"  class="btn btn-secondary rounded-pill">Restore default</button>
                        <a id="submit_classic_form" onclick="submitFormMode('classic')" type="button" class="btn rounded-pill" style="background-color: #5bc0de" data-bs-dismiss="modal">Save changes</a>
                    </div>
                </div>
            </div>
        </div>

{#        modal for random player gamemode#}
        <div class="modal fade" id="randomModal" tabindex="-1" aria-labelledby="randomModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-end" style="background-color: #5bc0de; height: 3rem;">
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                            <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/fdzomkrp.json"
                                trigger="loop-on-hover"
                                colors="black"
                                style="width:30px;height:30px">
                            </lord-icon>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1 class="modal-title text-center" id="randomModalLabel">Random</h1>
                        <br>
                        <p style="font-size: 18px">After set amount of time a random player is chosen to answer. Afterwards, turns keep on being given in random order.</p>
                        <br>
                        <form id="randomModalForm" name="random">
                          <div class="input-group">
                            <span class="input-group-text">Sum points:</span>
                            <input id="sumPointsR" type="number" class="form-control" aria-label="Sizing example input"value="1">
                          </div>
                          <br>
                          <div class="input-group">
                            <span class="input-group-text">Deduct points:</span>
                            <input id="deductPointsR" type="number" class="form-control" aria-label="Sizing example input" value="1">
                          </div>
                          <br>
                          <div class="input-group">
                            <span class="input-group-text">Countdown timer:</span>
                            <input id="timerR" type="number" class="form-control" aria-label="Sizing example input" value="10">
                            <span class="input-group-text">seconds</span>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button type="button" onclick="resetForm('random')"  class="btn btn-secondary rounded-pill">Restore default</button>
                        <a id="submit_random_form" onclick="submitFormMode('random')" type="button" class="btn rounded-pill" style="background-color: #5bc0de" data-bs-dismiss="modal">Save changes</a>
                    </div>
                </div>
            </div>
        </div>

{#        modal for lifelines gamemode#}
        <div class="modal fade" id="lifelinesModal" tabindex="-1" aria-labelledby="lifelinesModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-end" style="background-color: #5bc0de; height: 3rem;">
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                            <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/fdzomkrp.json"
                                trigger="loop-on-hover"
                                colors="black"
                                style="width:30px;height:30px">
                            </lord-icon>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1 class="modal-title text-center" id="lifelinesModalLabel">Lifelines</h1>
                        <br>
                        <p style="font-size: 18px" >Everyone starts with a set amount of lifes. Every unpressed round or wrong answer results in a deduction of points!
                          0 lifes remaining means you are out of the game.</p>
                        <br>
                        <form id="lifelinesModalForm" name="lifelines">
                            <div class="input-group">
                              <span class="input-group-text">Lifes:</span>
                              <input id="lifesL" type="number" class="form-control" aria-label="Sizing example input" value="10">
                            </div>
                            <br>
                            <div class="input-group">
                              <span class="input-group-text">Deduct lifes for not pressing button:</span>
                              <input id="deductLifes1L" type="number" class="form-control" aria-label="Sizing example input" value="1">
                            </div>
                            <br>
                            <div class="input-group">
                              <span class="input-group-text">Deduct lifes for incorrect answer:</span>
                              <input id="deductLifes2L" type="number" class="form-control" aria-label="Sizing example input" value="3">
                            </div>
                            <br>
                            <div class="input-group">
                              <span class="input-group-text">Countdown timer:</span>
                              <input id="timeL" type="number" class="form-control" aria-label="Sizing example input" value="10">
                              <span class="input-group-text">seconds</span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button type="button" onclick="resetForm('lifelines')"  class="btn btn-secondary rounded-pill">Restore default</button>
                        <a id="submit_lifelines_form" onclick="submitFormMode('lifelines')" type="button" class="btn rounded-pill" style="background-color: #5bc0de" data-bs-dismiss="modal">Save changes</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container" id="section3">
          <div class="row text-center my-auto">
              <div class="col-4"><button onclick="selectCourse('Anonymously')" id="Anonymously" type="button" class="btn btn-secondary selectbutton text-center">
                  <p id="selectcoursetext">Play anonymously</p>
                  <p id="selectcoursefooter" style="font-size: 2vh;">Press to play anonymously!</p>
              </button></div>
{#            <div class="col-4"><button type="button" class="btn btn-warning selectbutton" disabled>Select a gamemode...</button></div>#}
              <div class="col-8"><button type="button" id="startbutton" onclick="submitGamePreferences()" class="btn selectbutton" disabled>
                  <span style="color: white;">Initialize game!</span>
              </button></div>
          </div>
    </div>

    <!-- Alert Modal -->
    <div class="modal fade" id="ResponseModal" tabindex="-1" role="dialog" aria-labelledby="ResponseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #B7BAED; height: 3rem;">

                </div>
                <div class="modal-body text-center">
                    <h4 class="modal-title" id="ResponseModalLabel"> Error while saving this game preferences </h4>
                    <br> <br>
                    <p id="serverMessage">{{message}}</p>
                    <br> <br>
                    <b>If you have any further questions, please contact us.</b>
                    <br> <br>
                    <p style="color:slategrey"> All the best, <br> The Blue&GO! Team  </p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn rounded-pill" style="background-color: #B7BAED" > Close</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='InitializeGame.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</body>
</html>