<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="google-signin-client_id" content="538157396465-jbm93uov7k9aq7p99u8oje196nt3h2r1.apps.googleusercontent.com">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
      <title> Login & Sign Up Page</title>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div id="column1" class="col">
                <div style="margin: 3rem;">
                    <h3 class="text-center text-capitalize" style="color: white;"> Improve class engagement <br> Sign up today.</h3>
                    <p class="text-left text-capitalize fixed-bottom" style="color: white; font-size: 1.5em; margin-left: 40px; color: royalblue;"> <b> Blue&GO!</b> </p>

                </div>
            </div>

            <div id="column2" class="col" style="background-color: white;">
                <div style="margin: 2rem;">
                    <a id="close" type="button" class="btn text-right close" aria-label="Close" href="{{ url_for('homePage') }}">
                      <span aria-hidden="true">&times;</span>
                    </a>
                    <br>
                    <a id="login" type="button" class="btn btn-link text-left" href="{{ url_for('login') }}"> <h3 style="color: darkslategray;"> Login </h3> </a>
                    <br>
                    <br>
                    <div class="g-signin2" data-onsuccess="onSignIn"> </div>
                    <br>
                    <form id="loginForm" method="POST">
                        <div class="form-outline">
                             <label for="email" style="color:lightgrey; font-size: x-small;">USERNAME OR EMAIL</label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="user@blue&go.com" required="true"/>
                            <div class="valid-feedback">Looks good! </div>
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                        </div>

                   <label for="pass" style="color:lightgrey; font-size: x-small; margin-top: 20px;">PASSWORD </label>
                   <div class="input-group mb-3">
                       <input id="pass" name="pass" type="password" class="form-control" placeholder="*******" required="true" aria-label="password" aria-describedby="basic-addon1" />
                       <div class="input-group-append">
                           <span class="input-group-text" onclick="show_password()">
                               <i class="fas fa-eye" id="show"></i>
                               <i class="fas fa-eye-slash d-none" id="hide"></i>
                           </span>
                       </div>
                   </div>
                    <div> <p>{{error}}</p> </div>
                    <br>
                    <input type="submit" id="submitLogin" class="btn btn-outline-primary btn-lg btn-block" style="font-weight: lighter;" value="Login"/>
                    <br>
                    </form>
                    <a type="button" class="btn border btn-light border-secondary btn-lg btn-block" style="font-weight: lighter;" href="{{ url_for('signUp') }}"> New to the platform? Sign up</a>
                    <br>
                    <p> Forgot password? <a href="url">Reset your password</a></p>
                </div>
            </div>
        </div>
    </div>



        <script src="{{ url_for('static', filename='Login.js') }}"></script>
    </body>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>