<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="google-signin-client_id" content="538157396465-jbm93uov7k9aq7p99u8oje196nt3h2r1.apps.googleusercontent.com">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ url_for('static', filename='SignUp.css') }}">
      <title> Login & Sign Up Page</title>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div id="column1" class="col">
                <div style="margin: 3rem;">
                    <h3 class="text-center text-capitalize" style="color: white;"> Improve class engagement <br> Sign up today.</h3>
                    <p class="text-left text-capitalize fixed-bottom" style="color: white; font-size: 1.5em; margin-left: 40px; color: royalblue;"> <b> Blue&GO!</b> </p>

                </div>
            </div>

            <div id="column2" class="col" style="background-color: white;">
                <div style="margin: 2rem;">
                    <a id="close" type="button" class="btn text-right close" aria-label="Close" href="{{ url_for('homePage') }}">
                      <span aria-hidden="true">&times;</span>
                    </a>
                    <br>
                    <a type="button" class="btn btn-link text-left" href="{{ url_for('signUp') }}"> <h3 style="color: darkslategray;"> Sign up </h3> </a>
                    <br>
                    <br>
                    <div class="g-signin2" data-onsuccess="onSignIn"> </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0"> Or email</p>
                    </div>
                    <form action="" method="POST" novalidatclass="needs-validation" novalidate>
                        <div class="form-outline">
                             <label for="email" class="form-control-label" style="color:lightgrey; font-size: x-small;">EMAIL</label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="user@blue&go.com" required="true"/>
                            <div class="valid-feedback">Looks good! </div>
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                        </div>

                        <div class="form-outline" style="margin-top: 20px;">
                            <label for="username" class="form-control-label" style="color:lightgrey; font-size: x-small;">USERNAME </label>
                            <input id="username" name="username" type="email" class="form-control" placeholder="blue&go!123" required="true" />
                        </div>

                        <label for="pass" class="form-control-label" style="color:lightgrey; font-size: x-small; margin-top: 20px;">PASSWORD </label>
                        <div class="input-group mb-3">
                          <input id="pass" name="pass"type="password" class="form-control" placeholder="*******" required="true" aria-label="password" aria-describedby="basic-addon1" onkeyup='check();'/>
                            <div class="input-group-append">
                            <span class="input-group-text" onclick="show_password()">
                                    <i class="fas fa-eye" id="show"></i>
                                    <i class="fas fa-eye-slash d-none" id="hide"></i>
                            </span>
                          </div>
                        </div>
                        <div class="invalid-feedback"> Invalid password </div>
                        <!-- <small id="passwordHelpInline" class="text-muted"> Must be 8-20 characters long, and contain at least 1 capital letter. </small> -->

                        <label for="pass2" class="form-control-label" style="color:lightgrey; font-size: x-small;">CONFIRM PASSWORD </label>
                        <div class="input-group mb-3">
                            <input id="pass2" name="pass2" type="password" class="form-control" placeholder="*******" required="true" aria-label="password" aria-describedby="basic-addon1" onkeyup='check();' />
                            <div class="input-group-append">
                            <span class="input-group-text" onclick="show_password2()">
                                    <i class="fas fa-eye" id="show2"></i>
                                    <i class="fas fa-eye-slash d-none" id="hide2"></i>
                            </span>
                          </div>
                        </div>
                        <small style="margin-top: -100rem;"><span id='message'></span></small>
                        <div class="invalid-feedback"> Invalid password </div>
                        <br>
                        <input id="submit" type="submit" class="btn btn-outline-primary btn-lg btn-block" style="font-weight: lighter;" value="Sign up"/>
                    </form>
                    <br>
                    <a type="button" class="btn border btn-light border-secondary btn-lg btn-block" style="font-weight: lighter;" href="{{ url_for('login') }}"> Already have an account? Log in</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #B7BAED; height: 3rem;">

                </div>
                <div class="modal-body text-center">
                    <h4 class="modal-title" id="exampleModalLabel">Thank you for registering! </h4>
                    <br>
                    Please, confirm your account by following the instructions sent to your email account. <br> <br>
                    <b> If you have any further questions, please contact us. </b>
                    <br> <br>
                    <p style="color:slategrey"> All the best, <br> The Blue&GO! Team  </p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn rounded-pill" style="background-color: #B7BAED" href="{{ url_for('signUp') }}"> Close</a>
                </div>
            </div>
        </div>
    </div>

        <script src="{{ url_for('static', filename='SignUp.js') }}"></script>
    </body>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>