body {
    padding-top: 55px;
}

#section1 {
  background-color: #48dbfb;
  height: 400px;
  display: flex;
  align-items: center;
}

.carouselOfCards {
  width: 100%;
}

.carouselIndic {

}

#section2 {
  background-color: orange;
  height: 400px;
  padding: 50px;
}
